@page
@model MASOG_OBRAS.Pages.Clientes.Clientes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cliente.Id" />
            <div class="form-group">
                <label asp-for="Cliente.Id" class="control-label"></label>
                <input asp-for="Cliente.Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Nombre" class="control-label"></label>
                <input asp-for="Cliente.Nombre" class="form-control" />
                <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.DNI" class="control-label"></label>
                <input asp-for="Cliente.DNI" class="form-control" />
                <span asp-validation-for="Cliente.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Direccion" class="control-label"></label>
                <input asp-for="Cliente.Direccion" class="form-control" />
                <span asp-validation-for="Cliente.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Telefono" class="control-label"></label>
                <input asp-for="Cliente.Telefono" class="form-control" />
                <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Correo" class="control-label"></label>
                <input asp-for="Cliente.Correo" class="form-control" />
                <span asp-validation-for="Cliente.Correo" class="text-danger"></span>
            </div>

            @* Mensaje que muestra el error en la validación. *@

            @if (Model.MessageError != null)
            {
                <div class="alert alert-warning" role="alert">@Model.MessageError</div>
            }

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
