@page
@model MASOG_OBRAS.Pages.Compras.OrdenesPago.OrdenPagoItems.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrdenPagoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrdenPagoItem.Id" />
            <div class="form-group">
                <label asp-for="OrdenPagoItem.OrdenPagoId" class="control-label"></label>
                <select asp-for="OrdenPagoItem.OrdenPagoId" class="form-control" asp-items="ViewBag.OrdenPagoId"></select>
                <span asp-validation-for="OrdenPagoItem.OrdenPagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdenPagoItem.FacturaCompraId" class="control-label"></label>
                <select asp-for="OrdenPagoItem.FacturaCompraId" class="form-control" asp-items="ViewBag.FacturaCompraId"></select>
                <span asp-validation-for="OrdenPagoItem.FacturaCompraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdenPagoItem.Importe" class="control-label"></label>
                <input asp-for="OrdenPagoItem.Importe" class="form-control" />
                <span asp-validation-for="OrdenPagoItem.Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
