@page
@model MASOG_OBRAS.Pages.Ventas.Recibos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Nuevo Recibo</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recibo.ClienteId" class="control-label"></label>
                <select asp-for="Recibo.ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Recibo.FechaEmision" class="control-label"></label>
                <input asp-for="Recibo.FechaEmision" class="form-control" />
                <span asp-validation-for="Recibo.FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recibo.ConceptoPagoId" class="control-label"></label>
                <select asp-for="Recibo.ConceptoPagoId" class ="form-control" asp-items="ViewBag.ConceptoPagoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Recibo.Observacion" class="control-label"></label>
                <input asp-for="Recibo.Observacion" class="form-control" />
                <span asp-validation-for="Recibo.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recibo.Total" class="control-label"></label>
                <input asp-for="Recibo.Total" class="form-control" />
                <span asp-validation-for="Recibo.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
