@page
@model MASOG_OBRAS.Pages.Proveedores.Proveedores.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proveedor.Id" class="control-label"></label>
                <input asp-for="Proveedor.Id" class="form-control" />
                <span asp-validation-for="Proveedor.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.RazonSocial" class="control-label"></label>
                <input asp-for="Proveedor.RazonSocial" class="form-control" />
                <span asp-validation-for="Proveedor.RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.CUIT" class="control-label"></label>
                <input asp-for="Proveedor.CUIT" class="form-control" />
                <span asp-validation-for="Proveedor.CUIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Direccion" class="control-label"></label>
                <input asp-for="Proveedor.Direccion" class="form-control" />
                <span asp-validation-for="Proveedor.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Telefono" class="control-label"></label>
                <input asp-for="Proveedor.Telefono" class="form-control" />
                <span asp-validation-for="Proveedor.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Correo" class="control-label"></label>
                <input asp-for="Proveedor.Correo" class="form-control" />
                <span asp-validation-for="Proveedor.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Observacion" class="control-label"></label>
                <input asp-for="Proveedor.Observacion" class="form-control" />
                <span asp-validation-for="Proveedor.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
