@page
@model MASOG_OBRAS.Pages.Inventarios.Depositos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Depósito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Deposito.Id" class="control-label"></label>
                <input asp-for="Deposito.Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Deposito.Descripcion" class="control-label"></label>
                <input asp-for="Deposito.Descripcion" class="form-control" />
                <span asp-validation-for="Deposito.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposito.Direccion" class="control-label"></label>
                <input asp-for="Deposito.Direccion" class="form-control" />
                <span asp-validation-for="Deposito.Direccion" class="text-danger"></span>
            </div>

            @* Mensaje que muestra el error en la validación. *@

            @if (Model.MessageError != null)
            {
                <div class="alert alert-warning" role="alert">@Model.MessageError</div>
            }

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
