@page
@model MASOG_OBRAS.Pages.Compras.Facturas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Orden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FacturaCompra.Id" class="control-label"></label>
                <input asp-for="FacturaCompra.Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.ProveedorId" class="control-label"></label>
                <select asp-for="FacturaCompra.ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                <span asp-validation-for="FacturaCompra.ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.FechaFactura" class="control-label"></label>
                <input asp-for="FacturaCompra.FechaFactura" class="form-control" />
                <span asp-validation-for="FacturaCompra.FechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.FechaAlta" class="control-label"></label>
                <input asp-for="FacturaCompra.FechaAlta" class="form-control" />
                <span asp-validation-for="FacturaCompra.FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.Observacion" class="control-label"></label>
                <input asp-for="FacturaCompra.Observacion" class="form-control" />
                <span asp-validation-for="FacturaCompra.Observacion" class="text-danger"></span>
            </div>

            @* Mensaje que muestra el error en la validación. *@

            @if (Model.MessageError != null)
            {
                <div class="alert alert-warning" role="alert">@Model.MessageError</div>
            }

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
