<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Demo Técnica
    </div>
    <!-- Default to the left -->
    <strong>
            &copy; 2020 - MASOG OBRAS @*- <a asp-area="" asp-page="/Privacy">Privacy</a>*@
     </strong>      
</footer>
