@page
@model MASOG_OBRAS.Pages.Reportes.Dashboard.IndexModel
@{
    ViewData["Title"] = "Index";
}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.TotalVentas</h3>

                        <p>Ventas</p>
                    </div>
                    <div class="icon">
                        <i class="ion-arrow-graph-up-right"></i>
                    </div>
                    <a asp-page="/Reportes/Ingresos/Index" class="small-box-footer"> + Info  <i class="fas fa-arrow-circle-right"></i> </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.TotalCompra</h3>
                        <p>Compras</p>
                    </div>
                    <div class="icon">
                        <i class="ion-arrow-graph-down-right"></i>
                    </div>
                    <a asp-page="/Reportes/Egresos/Index" class="small-box-footer">+Info <i class="fas fa-arrow-circle-right"></i> </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Top</h3>
                        <p>Ranking Productos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-buffer-outline"></i>
                    </div>
                    <a href="#" class="small-box-footer">+Info <i class="fas fa-arrow-circle-right"></i> </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.TotalProyecto</h3>
                        <p>Nuevos Proyectos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-hammer"></i>
                    </div>
                    <a href="#" class="small-box-footer"> +Info  <i class="fas fa-arrow-circle-right"></i> </a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- ./row -->
        <!-- Grafico de Ingresos vs Egresos-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Ingresos vs Egresos</h3>
                            <a href="javascript:void(0);">Ver Reporte</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">820</span>
                                <span>Operaciones</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <span class="text-success">
                                    <i class="fas fa-arrow-up"></i> 12.5%
                                </span>
                                <span class="text-muted">Ingresos ultima semana</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="visitors-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="fas fa-square text-primary"></i> Ingresos
                            </span>

                            <span>
                                <i class="fas fa-square text-gray"></i> Egresos
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- ./row -->
    </div>
</section>
@section Scripts {
    <script src="~/js/ReportesVentaGastos.js"></script>
}