@page
@model MASOG_OBRAS.Pages.Compras.FacturaDeCompra.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FacturaCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacturaCompra.Id" />
            <div class="form-group">
                <label asp-for="FacturaCompra.ProveedorId" class="control-label"></label>
                <select asp-for="FacturaCompra.ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                <span asp-validation-for="FacturaCompra.ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.PuntoVenta" class="control-label"></label>
                <input asp-for="FacturaCompra.PuntoVenta" class="form-control" />
                <span asp-validation-for="FacturaCompra.PuntoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.TipoFactura" class="control-label"></label>
                <input asp-for="FacturaCompra.TipoFactura" class="form-control" />
                <span asp-validation-for="FacturaCompra.TipoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.FechaFactura" class="control-label"></label>
                <input asp-for="FacturaCompra.FechaFactura" class="form-control" />
                <span asp-validation-for="FacturaCompra.FechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.FechaAlta" class="control-label"></label>
                <input asp-for="FacturaCompra.FechaAlta" class="form-control" />
                <span asp-validation-for="FacturaCompra.FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCompra.Observacion" class="control-label"></label>
                <input asp-for="FacturaCompra.Observacion" class="form-control" />
                <span asp-validation-for="FacturaCompra.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
